body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    color: #F9F8FA;
    background-color: #1F2937;
    padding: 16px 64px;
    /* margin: -1%; */
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.header-links ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 16px;
    padding: 0;
}

.header-links ul li a {
    font-size: 16px;
    cursor: pointer;
}

.hero-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 128px;
}

.hero-button {
    color: #F9F8FA;
    background-color: #3882F6;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    width: 125px;
    font-size: 16px;
    font-weight: bold;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9F8FA;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: 75%;
}

.right-hero, .info-img {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right-hero img{
    max-width: 60%;
    border-radius: 8px;
    /* width: 800px;
    height: 400px; */
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    padding: 64px;
}

.info-header {
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 64px;
}


.info-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
}

.info-img img {
    max-width: 50%;
    border-radius: 16px;
    flex: 1 1 auto;
}

.info-subtext {
    color: #4B5563;
    flex: 1 1 auto;
    text-align: center;
}

.quote-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 128px;
    gap: 16px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-person {
    color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-end;
}

.footer {
    height: 72px;
    background: #1F2937;
    color: #F9F8FA;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}